img{
    height: 10rem;

}

span{

    display: flex;
    align-items: center;
}

.header{
    justify-content: center;
    height: 10%;
    background-color: black;
}

h1{
    padding-left: 1.5rem;
    font-size: 1rem;
    font-style: initial;
    color: white;
}