<form>
    <h1>DELETANDO LIVRO</h1>

   <mat-form-field class = "form">
      <mat-label class= "t">Titulo</mat-label>
      <input matInput [(ngModel)] = "livro.titulo" type= "text" name="titulo" disabled>
    </mat-form-field>

        <mat-form-field class = "form">
            <mat-label class = "t">Nome Autor</mat-label>
            <input matInput [(ngModel)] = "livro.nomeAutor" type="text" name="nome_autor" disabled>
        </mat-form-field>

        <mat-form-field class= "form">
            <mat-label class= "t">Texto</mat-label>
            <textarea matInput [(ngModel)] = "livro.texto" type ="text" name="texto" disabled> </textarea>      
        </mat-form-field>

        <div class = "buttons">
            <button (click)="delete()" class="b" mat-stroked-button color="primary">DELETAR</button>
            <button (click)="cancel()" class="b" mat-stroked-button color="warn">CANCELAR</button>
        </div>
</form>